body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}

h1 {
    font-size: 8em;
    font-weight: normal;
    margin: 0;
}

img {
    border: 2px solid lightsteelblue;
    width: 150px;
}

figcaption {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 20px;
}

div {
    width: 250px;
    border-top: 1px solid black;
    margin: 0 auto;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 2em;
}

p {
  margin: 0;
  padding-bottom: 20px;
  font-style: italic;
}

div:first-of-type {
    margin-top: 50px;
    background-color: lightsteelblue;
}

div:nth-of-type(2){
    background-color: peachpuff;
}

div:last-of-type {
    background-color: indianred;
}
