body {
    font-family: arial;
}
p {
    text-align: center;
}

caption {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
    font-size: 1.2em;
}

th {
    background-color: red;
    color: white;
    padding: 1px 10px;
}

td {
    padding: 1px 10px;
}

table {
    border: 1px solid black;
    border-top: none;
    border-collapse: collapse;
    margin: auto;
}

.property {
    border-right: 1px solid black;
    font-weight: bold;
}

th.property {
    text-transform: uppercase;
}

tr:nth-child(2) {
    background-color: #eee;
}