body {
    background: #e2e1e0;    
}

.container {
    width: 70%;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 40px;
    background: white;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    margin-top: 0;
}

figure {
    margin-left: 0;
}

img {
    width: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

ul, table, p {
    margin-top: 0;
}

.about-me {
    padding-top: 10px;
}

.hobbies {
    clear: both;
}

table {
    border-collapse: collapse;
    width: 40%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}