body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #eee;
}

h1, h2 {
    color: blue;
    font-weight: bold;
}

h1 {
    font-size: 4.0em;
}

ul, ol {
    font-size: 0.8em;
    border: 1px solid black;
    padding-left: 50px;
}

li {
    color: darkgrey;
}

p {
    text-indent: 20px;
}

figcaption {
    font-size: 0.7em;
    font-weight: bold;
}

p.copyright_notice {
    font-size: 0.8em;
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}

code {
    margin-left: 40px;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}